include /src/views/components/index

block defs
    -
        var lang = lang || 'ru';
        var dir = dir || 'ltr';

        var htmlAttrs = {
            lang: lang,
            dir: dir,
            class: ['ctx-no-js']
        };

        var bodyAttrs =  {
            class: []
        };

        var pageTitle = pageTitle || "";

doctype html

+ie("if lt IE 8")
    <html class="!{htmlAttrs.class.concat(['ctx-ie', 'ctx-ltie8', 'ctx-ltie9', 'ctx-ltie10']).join(' ')}" lang="!{htmlAttrs.lang}">
+ie("if IE 8")
    <html class="!{htmlAttrs.class.concat(['ctx-ie', 'ctx-ie8', 'ctx-ltie9', 'ctx-ltie10']).join(' ')}" lang="!{htmlAttrs.lang}">
+ie("if IE 9")
    <html class="!{htmlAttrs.class.concat(['ctx-ie', 'ctx-gtie8', 'ctx-ie9', 'ctx-ltie10']).join(' ')}" lang="!{htmlAttrs.lang}">
!= "<!--[if (gt IE 9)|!(IE)]><!-->"
html&attributes(htmlAttrs)
    = "\n"
    != "<!--<![endif]-->"

    head
        include template-logo
        block blockHead
            include meta

            block blockHeadStyles
                //- +style("normalize.css")
                //- +style({
                //-     path: "assets/css/critical.css",
                //-     hash: true
                //- })

            block blockHeadScripts
                script.
                    ;(function(html) {
                        html.className = html.className.replace("ctx-no-js", "ctx-js")
                    })(document.documentElement);

                    ;(function(window, document) {
                        var html = document.documentElement;
                        html.className += ' ctx-dom-loading';
                        html.className += ' ctx-page-loading';

                        function onPageLoad(e) {
                            window.removeEventListener('load', onPageLoad);
                            html.className = html.className.replace('ctx-page-loading', 'ctx-page-loaded')
                        }

                        function onDomLoad(e) {
                            document.removeEventListener('DOMContentLoaded', onDomLoad);
                            html.className = html.className.replace('ctx-dom-loading', 'ctx-dom-loaded')
                        }

                        window.addEventListener('load', onPageLoad);
                        document.addEventListener('DOMContentLoaded', onDomLoad);
                    })(window, document);

                +ie("if lt IE 9")
                    <script src="js/html5shiv.min.js"></script>
                    <script src="js/respond.min.js"></script>
                    <script src="js/nwmatcher-1.2.5.js"></script>
                    <script src="js/selectivizr-min.js"></script>

                //- +script("js/modernizr.min.js")

            block blockTitle
                - var title = "Polygon Template" + (pageTitle ? " | " + pageTitle : "")
                title #{title}

    block blockBody
        body&attributes(bodyAttrs)

            include header
            main
                block blockContent
            include footer

            block blockBodyStyles
                +style({
                    path: "assets/css/main.css",
                    hash: true
                })

            block blockBodyScripts
                +script("assets/js/vendor.js")
                +script({
                    path: "assets/js/main.js",
                    hash: true
                })
